<!DOCTYPE html>
<html>
  <head>
    <title>Login TEST - ${title}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- SimpleLightbox plugin CSS-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../CSS/styles.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
    ></script>
  </head>
  <body>
    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script>
      $(window).on("load", function () {
        $(".loader-wrapper").fadeOut(1000);
      });
    </script>
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light fixed-top py-3"
      id="mainNav"
    >
      <div class="container px-4 px-lg-5">
        <a
          class="navbar-brand"
          href="#page-top"
          style="display: flex; flex-direction: row"
        >
          <img
            src="../image/logo_mini.png"
            width="30px"
            height="30px"
            style="margin-right: 7px"
          />Coding-nara
        </a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto my-2 my-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">소개</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/curriculum">커리큘럼</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/enroll/sub">수강신청</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/review">강좌후기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ask">고객센터</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"><%-authCheck %></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead_enroll">
      <div class="container px-4 px-lg-5 h-100">
        <div
          class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">수강신청</h1>
            <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5">
              스케줄에 맞춰서 원하는 시간에 수업을 들을 수 있습니다.
            </p>
          </div>
        </div>
      </div>
    </header>
    <br />
    <div align="center">
      <form action="/enroll/sub_result" method="get">
        <fieldset>
          <label class="control" for="Monday">
            <input
              type="checkbox"
              name="Course_day"
              id="Monday"
              value="1"
              checked
            />
            <span class="control__content"> 월요일 </span>
          </label>
          <label class="control" for="Tuesday">
            <input type="checkbox" name="Course_day" id="Tuesday" value="2" />
            <span class="control__content"> 화요일 </span>
          </label>
          <label class="control" for="Wednesday">
            <input type="checkbox" name="Course_day" id="Wednesday" value="3" />
            <span class="control__content"> 수요일 </span>
          </label>
          <label class="control" for="Thursday">
            <input type="checkbox" name="Course_day" id="Thursday" value="4" />
            <span class="control__content"> 목요일 </span>
          </label>
          <label class="control" for="Friday">
            <input type="checkbox" name="Course_day" id="Friday" value="5" />
            <span class="control__content"> 금요일 </span>
          </label>
          <label class="control" name="Saturday">
            <input type="checkbox" name="Course_day" id="Saturday" value="6" />
            <span class="control__content"> 토요일 </span>
          </label>
          <label class="control" for="Sunday">
            <input type="checkbox" name="Course_day" id="Sunday" value="7" />
            <span class="control__content"> 일요일 </span>
          </label>
        </fieldset>
        <fieldset>
          <label class="control" for="C">
            <input
              type="checkbox"
              name="Course_type"
              id="C"
              value="1"
              checked
            />
            <span class="control__content"> C </span>
          </label>
          <label class="control" for="Python">
            <input type="checkbox" name="Course_type" id="Python" value="2" />
            <span class="control__content"> Python </span>
          </label>
          <label class="control" for="Minecraft Programming">
            <input
              type="checkbox"
              name="Course_type"
              id="Minecraft Programming"
              value="3"
            />
            <span class="control__content"> Minecraft Programming </span>
          </label>
          <label class="control" for="App Inventor">
            <input
              type="checkbox"
              name="Course_type"
              id="App Inventor"
              value="4"
            />
            <span class="control__content"> App Inventor </span>
          </label>
          <label class="control" for="Scatch">
            <input type="checkbox" name="Course_type" id="Scatch" value="5" />
            <span class="control__content"> Scatch </span>
          </label>
          <label class="control" name="Entry">
            <input type="checkbox" name="Course_type" id="Entry" value="6" />
            <span class="control__content"> Entry </span>
          </label>
          <label class="control" for="Make_Web">
            <input type="checkbox" name="Course_type" id="Make_Web" value="7" />
            <span class="control__content"> 웹 페이지 만들기 </span>
          </label>
        </fieldset>
        <fieldset>
          <label class="control" for="Time_1">
            <input
              type="checkbox"
              name="Course_time"
              id="Time_1"
              value="1"
              checked
            />
            <span class="control__content"> 07:00 </span>
          </label>
          <label class="control" for="Time_2">
            <input type="checkbox" name="Course_time" id="Time_2" value="2" />
            <span class="control__content"> 08:00 </span>
          </label>
          <label class="control" for="Time_3">
            <input type="checkbox" name="Course_time" id="Time_3" value="3" />
            <span class="control__content"> 09:00 </span>
          </label>
          <label class="control" for="Time_4">
            <input type="checkbox" name="Course_time" id="Time_4" value="4" />
            <span class="control__content"> 10:00 </span>
          </label>
          <label class="control" for="Time_5">
            <input type="checkbox" name="Course_time" id="Time_5" value="5" />
            <span class="control__content"> 11:00 </span>
          </label>
          <label class="control" name="Time_6">
            <input type="checkbox" name="Course_time" id="Time_6" value="6" />
            <span class="control__content"> 12:00 </span>
          </label>
          <label class="control" for="Time_7">
            <input type="checkbox" name="Course_time" id="Time_7" value="7" />
            <span class="control__content"> 13:00 </span>
          </label>
          <label class="control" for="Time_8">
            <input type="checkbox" name="Course_time" id="Time_8" value="8" />
            <span class="control__content"> 14:00 </span>
          </label>
        </fieldset>
        <fieldset>
          <label class="control" for="Time_9">
            <input type="checkbox" name="Course_time" id="Time_9" value="9" />
            <span class="control__content"> 15:00 </span>
          </label>
          <label class="control" for="Time_10">
            <input type="checkbox" name="Course_time" id="Time_10" value="10" />
            <span class="control__content"> 16:00 </span>
          </label>
          <label class="control" for="Time_11">
            <input type="checkbox" name="Course_time" id="Time_11" value="11" />
            <span class="control__content"> 17:00 </span>
          </label>
          <label class="control" for="Time_12">
            <input type="checkbox" name="Course_time" id="Time_12" value="12" />
            <span class="control__content"> 18:00 </span>
          </label>
          <label class="control" for="Time_13">
            <input type="checkbox" name="Course_time" id="Time_13" value="13" />
            <span class="control__content"> 19:00 </span>
          </label>
          <label class="control" for="Time_14">
            <input type="checkbox" name="Course_time" id="Time_14" value="14" />
            <span class="control__content"> 20:00 </span>
          </label>
          <label class="control" for="Time_15">
            <input type="checkbox" name="Course_time" id="Time_15" value="15" />
            <span class="control__content"> 21:00 </span>
          </label>
          <label class="control" for="Time_16">
            <input type="checkbox" name="Course_time" id="Time_16" value="16" />
            <span class="control__content"> 22:00 </span>
          </label>
          <label class="control" for="Time_17">
            <input type="checkbox" name="Course_time" id="Time_17" value="17" />
            <span class="control__content"> 23:00 </span>
          </label>
        </fieldset>
        <br />
        <input
          type="submit"
          class="btn btn-dark"
          style="margin-bottom: 30px; width: 5%"
          value="🔍   검색"
        />
      </form>
    </div>
    <!-- Footer-->
    <footer class="bg-light py-5">
      <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
<<<<<<< HEAD
          <a href="/policy/private">개인정보처리방침</a> |
          <a href="/policy/tos">이용약관</a>
        </div>
      </div>
      <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
          코딩나라 | 대표자: 장영재, 박민수 | 사업자번호: 148-14-01860 사업자
          정보 확인
        </div>
      </div>
      <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
          주소: 서울특별시 서대문구 북가좌동
        </div>
      </div>
      <br />
      <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
          Copyright &copy;코딩나라(Coding-nara)
=======
          Copyright &copy; 2022 - Company Name
>>>>>>> origin/Test
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
