doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="../static/css/style.css", rel="stylesheet")
        link(rel="shortcut icon", href="#")
        title 코딩나라
    body 

        //- Nav
        header 
            a(href="") 
                h1(class="text-6xl" align="center") Coding nara
                br
                br
                br
                br
                br
                br
                br
                br

        //- Content
        main(class="flex flex-row justify-center mx-auto")

            //- Lobby
            div#welcome(class="mx-auto")
                form(class="border-4 border-black")
                    input(placeholder="강의실 이름", required, type="text")
                    button(class="border-l-4 border-black m-px") 입장

            //- ChatRoom
            div#call(class="w-screen") 
                div(class="flex justify-start h-screen")

                    //- Remote Video
                    video#peersFace(autoplay, playsinline, class="mx-auto w-4/5 border-4 border-transparent")
                    div(class="flex flex-col w-1/5 h-full")
                        div#myStream(class="w-full")
                            div(class="border-4 border-l-0 border-black")

                                //- Local Video
                                video#myFace(autoplay, muted, playsinline, width="300", height="300" class="mx-auto border-b-4 border-black myFace bg-gray-500" )
                                //- Control
                                div(class="flex flex-col w-full mx-auto justify-center")
                                    button#mute(class="border-4 border-black m-px") 음소거
                                    button#camera(class="border-4 border-black m-px") 카메라 Off
                                    select#cameras(class="border-4 border-black m-px")
                                    
                        //- Chat
                        div#chat(class="flex flex-col border-4 border-l-0 border-t-0 border-black justify-between h-full overflow-y-auto w-full")
                            div#chatList(class="flex-1 flex flex-col h-5/6 overflow-y-auto w-full")
                            form#chatForm(class="flex-none flex border-t-4 h-1/6 border-black")
                                input(type="text" required placeholder="Message" class="w-10/12")
                                button(class="border-l-4 border-black w-2/12") 전송




        script(src="/socket.io/socket.io.js") 
        script(src="../static/script/app.js")