

<!DOCTYPE html>
<html>
  <head>
    <title>강의 기록</title>
        <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- SimpleLightbox plugin CSS-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../../CSS/styles.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
    ></script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }
      a.change:link {
        color: white;
      }
      a.change:visited {
        color: white;
      }
      a.change:hover {
        color: white;
      }
      a.change:active {
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script>
      $(window).on("load", function () {
        $(".loader-wrapper").fadeOut(1000);
      });
    </script>
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light fixed-top py-3"
      id="mainNav"
    >
      <div class="container px-4 px-lg-5">
        <a
          class="navbar-brand"
          href="#page-top"
          style="display: flex; flex-direction: row"
        >
          <img
            src="../../../image/logo_mini.png"
            width="30px"
            height="30px"
            style="margin-right: 7px"
          />Coding-nara
        </a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto my-2 my-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">소개</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/curriculum">커리큘럼</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/enroll/sub">수강신청</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/review">강좌후기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ask">고객센터</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"><%-authCheck %></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead_review">
      <div class="container px-4 px-lg-5 h-100">
        <div
          class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">강의 기록</h1>
            <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline"></div>
        </div>
      </div>
    </header>
    <br />
    <br />

    <section class="notice" style="margin-bottom: 150px; margin-top:10px;">
      <div class="page-title">
        <div class="container">
          <h3>강의 기록리스트</h3>
        </div>
      </div>

      <!-- board seach area -->

      <!-- board list area -->
      <div id="board-list">
        <div class="container">
          <table class="board-table">
            <thead>
              <tr>
                <th scope="col" class="th-title">강좌수</th>
                <th scope="col" class="th-title">선생님</th>
                <th scope="col" class="th-date">강의 과목</th>
                <th scope="col" class="th-date">강의 요일</th>
                <th scope="col" class="th-date">강의 시간</th>
                <th scope="col" class="th-date">강의 완료 시간</th>
              </tr>
            </thead>

            <tbody>
              <%-List %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <p></p>
  </body>
  <!-- Footer-->
  <footer class="bg-light py-2">
    <div class="container text-center">
      <div class="row">
        <div class="col-md">
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            "
          >
            <img
              src="../../../image/all_logo.png"
              width="200"
              height="200"
              style="text-align: center"
            />
            <div class="row-md-6">
              <div class="small text-muted">
                Copyright &copy;코딩나라(Coding-nara)
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px">
          <div
            style="display: flex; justify-content: center; margin-bottom: 15px"
          >
            <a
              id="insta-btn"
              href="https://www.instagram.com/coding_nara/saved/"
              target="”_blank”"
              style="margin-right: 10px"
            >
              <img
                src="../../../image/insta_logo.png"
                width="30px"
                height="30px"
                alt="인스타 버튼"
              />
            </a>
            <a
              id="kakao-login-btn"
              href="http://pf.kakao.com/_xfyhFxj"
              target="”_blank”"
            >
              <img
                src="../../../image/kakaologin.png"
                width="30"
                height="30"
                alt="카카오 버튼"
              />
            </a>
          </div>
          <div class="container px-4 px-lg-5" style="height: 35px" >
            <div class="small text-center text-muted">
              <a href="/policy/private">개인정보처리방침</a> |
              <a href="/policy/tos">이용약관</a>
            </div>
          </div>
          <div class="container px-4 px-lg-5" style="margin-bottom: 10px">
            <div class="small text-left text-muted" style="text-align: center">
              <p>
                대표자: 장영재, 박민수<br />
                사업자번호: 148-14-01860<br />
                이메일: admin@coding-nara.com<br />
                주소: 서울특별시 서대문구 거북골로 18길 16<br />
                통신판매업 신고번호 : 2023-서울서대문-0418
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
